* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
.mui-content {
  background-color: #eee;
}
.my-header {
  background-color: hotpink;
}
.my-header > h1 {
  color: #fff;
}
.my-header > .mui-icon-search {
  color: #fff;
}
.my-footer {
  background-color: hotpink;
}
.my-footer > .mui-tab-item {
  color: #fff;
}
.my-footer > .mui-tab-item > .mui-active {
  color: red;
}
.nav-links {
  padding: 10px;
}
.nav-links > a {
  float: left;
  width: 33.33%;
}
.nav-links > a img {
  width: 100%;
  display: block;
}
.brand {
  padding: 0 10px;
}
.brand > .tittle {
  width: 100%;
}
.brand > ul {
  padding: 10px 0;
  overflow: hidden;
}
.brand > ul > li {
  float: left;
  width: 25%;
}
.brand > ul > li > a {
  display: block;
}
.brand > ul > li > a > img {
  width: 100%;
}
.product {
  padding: 0 10px;
}
.product > .tittle {
  width: 100%;
}
.product > ul {
  padding: 6px 0;
}
.product > ul > li {
  float: left;
  width: 50%;
  padding: 5px;
}
.product > ul > li > a {
  display: block;
  box-shadow: 0 0 5px #ccc;
  padding: 5px;
}
.product > ul > li img {
  width: 100%;
}
.product > ul > li .name {
  display: block;
  color: #8f8f94;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  height: 38px;
  overflow: hidden;
  padding: 5px;
}
.product > ul > li p {
  text-align: center;
  padding-top: 6px;
}
.product > ul > li p span:first-child {
  color: #f20;
  padding-right: 2px;
}
.product > ul > li p span:last-child {
  text-decoration: line-through;
  padding-left: 2px;
}
.product > ul > li .buy-now {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: lightcoral;
  color: #FFF;
  font-size: 14px;
  border-radius: 4px;
  margin: 0 auto 5px auto;
}
